<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Green Byte Bistro</title>
</head>
<body>
    <%- include('./partials/nav') %>

  <h1><%= RESTAURANT.name %></h1>
  <h3><%= RESTAURANT.address %>, <%= RESTAURANT.phone %></h3>
    <% let isOpen = true; %>
    <% if (isOpen === true) { %>
    <h4>Yes we are open!</h4>
    <% } else { %>
    <h4>Sorry, we are closed.</h4>
    <% }; %>
</body>
</html>
